/* This is a CSS document for styling */
*{
    font-size: 5vh;
    text-align:center;
}

div{
    position: relative;
    top: 40vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
}

button{
    border-radius: 10px;
    width: 10vw;
    position: relative;
    display:block;
    left: 85vw;
    top:70vh;
}